<div class="container main">
  <div class="landing-page-banner">
    <!-- Start landing page Hero-->

    <section
      class="landing-hero data-picture-rendition"
      style="background-image: url('../../../assets/img/goolrant-about.jpg')"
    >
      <!-- Logic for background image-->

      <div data-picture-rendition="">
        <!--Logic for using different desktop, tablet and mobile renditions uploaded by author in DAM-->

        <div
          data-src="../../../assets/img/goolrant-about.jpg"
          data-media="(min-width: 320px)"
        ></div>

        <div
          data-src="../../../assets/img/goolrant-about.jpg"
          data-media="(min-width: 640px)"
        ></div>
        <div
          data-src="../../../assets/img/goolrant-about.jpg"
          data-media="(min-width: 1024px)"
        ></div>

        <!--Logic for using renditions-->
      </div>

      <section class="row">
        <section
          class="col-xs-12 col-sm-10 col-md-8 col-lg-8 col-sm-offset-1 col-md-offset-2 col-lg-offset-2 text-center"
        >
          <section class="table-layout-hero color-white">
            <div class="text">
              <div>
                <h3 style="text-align: center">
                  <span class="title color-white">ABOUT/About GoolRant</span>
                </h3>
              </div>

              <a
                class="float-center playBtn scroll-to-next at-element-marker"
                href="javascript:void(0)"
                style="display: none"
                >KNOW MORE</a
              ><a
                class="float-center playBtn at-element-marker"
                href="javascript:void(0)"
                id="action_insert_16445859033242430"
                ><span style="font-size: 16px"
                  >CONNECT WITH US&nbsp;&nbsp;</span
                ></a
              >

              <!--Enabling form for banner-->
            </div>
          </section>
        </section>
      </section>
    </section>
    <!-- end landing page Hero-->
  </div>

  <div class="full-width-container">
    <section class="defaultMargin">
      <div>
        <h3 style="text-align: center">
          <span class="title color-black">WHO WE ARE</span>
        </h3>
        <h3 style="text-align: center">&nbsp;</h3>
      </div>

      <div class="column-control">
        <div
          class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
        >
          <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
              <div class="rte">
                <div>
                  <p>
                    <span class="color-black"
                      >We are Goolrant Pvt Ltd. Established in 2022 from the
                      Florida, also known as the “City of Lakes”, it is the
                      historic capital of Mewar kingdom in the former Rajutana
                      Agency. Today we are leading with the development of web,
                      application, software to the mobile application that too
                      with the advanced technology to keep the power with the
                      modern word of web. Providing support for the integration
                      of eCommerce though openkart, softify, woo-commerce and
                      many more. Automated development processing tools such a
                      jenkins docker.</span
                    >
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
              <div class="image">
                <div class=" ">
                  <div data-picture-rendition="">
                    <!--Logic for using different desktop, tablet and mobile renditions uploaded by author in DAM-->

                    <div
                      data-src="../../../assets/img/anything-desktop.jpg"
                      data-media="(min-width: 320px)"
                    ></div>

                    <div
                      data-src="../../../assets/img/anything-desktop.jpg"
                      data-media="(min-width: 640px)"
                    ></div>
                    <div
                      data-src="../../../assets/img/anything-desktop.jpgg"
                      data-media="(min-width: 1024px)"
                    ></div>

                    <!--Logic for using renditions-->

                    <img src="../../../assets/img/who-we-are-desktop.jpg" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="full-width-container">
    <section class="defaultMargin gray-bg-color">
      <div class="column-control">
        <!-- 50-50 column control -->

        <!-- 50-50 with No Padding column control -->

        <!-- 50-50 Full Width column control -->

        <!-- 33-33-33 column control Without margin -->

        <!-- 33-33-33 column control With Left Right Margin-->

        <!-- 33-33-33 column control Without padding-->

        <!-- 60-40 column control -->

        <!-- 40-60 column control -->

        <!-- 100 column control -->
        <div>
          <div
            class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
          >
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="rte">
                  <div>
                    <h3 style="text-align: center">
                      <span class="title color-white"
                        >GOOLRANT ADVANTAGE<br /> </span
                      ><span class="title"> </span>&nbsp;
                    </h3>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="card" style="width: 18rem; height: 95%">
                      <img
                        class="card-img-top"
                        src="../../../assets/img/ahead-of.jpg"
                        alt="Card image cap"
                      />
                      <div class="card-body">
                        <h5 class="card-title">Ahead of the Curve</h5>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                          Proven formula to help clients to move anything to the
                          cloud, led by cognitive computing
                        </li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="card" style="width: 18rem; height: 95%">
                      <img
                        class="card-img-top"
                        src="../../../assets/img/critical.jpg"
                        alt="Card image cap"
                      />
                      <div class="card-body">
                        <h5 class="card-title">Critical Scale and Agility</h5>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                          Nimble champion challenger
                        </li>
                        <li class="list-group-item">
                          Majority owned by The Blackstone Group
                        </li>
                        <li class="list-group-item">
                          Global delivery footprint
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="card" style="width: 18rem; height: 95%">
                      <img
                        class="card-img-top"
                        src="../../../assets/img/deep-domain.jpg"
                        alt="Card image cap"
                      />
                      <div class="card-body">
                        <h5 class="card-title">Deep Domain Experience</h5>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                          Focus and investments in financial services
                        </li>
                        <li class="list-group-item">
                          Working with 3 of the top 5 universal banks
                        </li>
                        <li class="list-group-item">
                          C-Level industry experts as part of solutions group
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="card" style="width: 18rem; height: 95%">
                      <img
                        class="card-img-top"
                        src="../../../assets/img/strong.jpg.thumb.1010.1010.jpg"
                        alt="Card image cap"
                      />
                      <div class="card-body">
                        <h5 class="card-title">Strong Track Record</h5>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                          First to help banks leverage internet
                        </li>
                        <li class="list-group-item">
                          First investment banking mobile app in the AppstoreTM
                        </li>
                        <li class="list-group-item">
                          Built the largest brokerage website
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="card" style="width: 18rem; height: 95%">
                      <img
                        class="card-img-top"
                        src="../../../assets/img/engineering-dna.jpg"
                        alt="Card image cap"
                      />
                      <div class="card-body">
                        <h5 class="card-title">Engineering DNA</h5>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                          Investments in architecture, automation and customer
                          experience
                        </li>
                        <li class="list-group-item">
                          Continued efforts in creation of customer relevant IP
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="card" style="width: 18rem; height: 95%">
                      <img
                        class="card-img-top"
                        src="../../../assets/img/livelihood-desktop.jpg.thumb.1010.1010.jpg"
                        alt="Card image cap"
                      />
                      <div class="card-body">
                        <h5 class="card-title">Deep Client Relationships</h5>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                          Significant investments in strategic relationships
                        </li>
                        <li class="list-group-item">
                          Contextual innovation leveraging institutionalized
                          co-innovation programs
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="full-width-container">
  <section class="defaultMargin grey-bg">
    <div>
      <h3 style="text-align: center">
        <span class="title color-black">SOLUTIONS IN FOCUS</span>
      </h3>
      <h3 style="text-align: center">
        <br />
        &nbsp;
      </h3>
    </div>

    <div class="column-control">
      <!-- 50-50 column control -->

      <!-- 50-50 with No Padding column control -->

      <!-- 50-50 Full Width column control -->

      <!-- 33-33-33 column control Without margin -->

      <!-- 33-33-33 column control With Left Right Margin-->

      <div
        class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
      >
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="image-with-rte">
              <div class="hotspot-card white-bg">
                <div
                  class="col-lg-12 bg data-picture-rendition"
                  style="
                    background-image: url('../../../assets/img/anything-desktop.jpg');
                  "
                >
                  <div data-picture-rendition="">
                    <!--Logic for using different desktop, tablet and mobile renditions uploaded by author in DAM-->

                    <div
                      data-src="../../../assets/img/anything-desktop.jpg"
                      data-media="(min-width: 320px)"
                    ></div>

                    <div
                      data-src="../../../assets/img/anything-desktop.jpg"
                      data-media="(min-width: 640px)"
                    ></div>
                    <div
                      data-src="../../../assets/img/anything-desktop.jpg"
                      data-media="(min-width: 1024px)"
                    ></div>

                    <!--Logic for using renditions-->
                  </div>
                </div>
                <div class="col-lg-12 content-box" style="height: 160px">
                  <div>
                    <h4>
                      <span class="title color-white">Cloud Services</span>
                    </h4>
                    <p>
                      With a host of in-house experts and tools along with
                      strong industry partnerships, we provide a one-stop,
                      end-to-end cloud consulting service.
                    </p>
                  </div>
                </div>

                <div class="bottom-share">
                  <a
                    href="/home/services/digital/innovation/cloud.html"
                    target="_blank"
                    >KNOW MORE</a
                  >

                  <span class="dash"></span>
                  <div class="sharing-icon">
                    <link
                      rel="stylesheet"
                      href="javascript:void(0)"
                      type="text/css"
                    />

                    <div class="articlecomp">
                      <!--<div class="articlecomp">-->
                      <!-- ShareThis Start -->

                      <div class="shareContainer">
                        <div class="sharethis">
                          <img
                            src="../../../assets/img/share-icon.png"
                            alt="Share on Social Sites"
                          />
                        </div>
                        <div class="sharelist">
                          <ul>
                            <li>
                              <a
                                class="fa fa-facebook"
                                href="javascript:void(0)"
                              ></a>
                            </li>
                            <li>
                              <a
                                class="fa fa-twitter"
                                href="javascript:void(0)"
                                title="Share on Twitter"
                              ></a>
                            </li>
                            <li>
                              <a
                                class="fa fa-linkedin"
                                href="javascript:void(0)"
                                title="Share on LinkedIn"
                              ></a>
                            </li>
                            <li>
                              <span>
                                <a
                                  class="fa fa-email"
                                  href="javascript:void(0)"
                                ></a>
                              </span>
                            </li>
                            <script type="text/javascript">
                              var switchTo5x = true;
                            </script>

                            <script type="text/javascript">
                              stLight.options({
                                123: "129",
                                shorten: false,
                              });
                            </script>
                          </ul>
                        </div>
                      </div>

                      <!-- ShareThis End -->

                      <div
                        class="articleimg"
                        style="background-image: url('')"
                      ></div>

                      <div class="articledesc" style="background-color: red">
                        <div class="content">
                          <!--<div class="artcnt"></div>-->
                          <p></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="image-with-rte">
              <div class="hotspot-card white-bg">
                <div
                  class="col-lg-12 bg data-picture-rendition"
                  style="
                    background-image: url('../../../assets/img/blockchain-desktop.jpg');
                  "
                >
                  <div data-picture-rendition="">
                    <!--Logic for using different desktop, tablet and mobile renditions uploaded by author in DAM-->

                    <div
                      data-src="../../../assets/img/blockchain-desktop.jpg"
                      data-media="(min-width: 320px)"
                    ></div>

                    <div
                      data-src="../../../assets/img/blockchain-desktop.jpg"
                      data-media="(min-width: 640px)"
                    ></div>
                    <div
                      data-src="../../../assets/img/blockchain-desktop.jpg"
                      data-media="(min-width: 1024px)"
                    ></div>

                    <!--Logic for using renditions-->
                  </div>
                </div>
                <div class="col-lg-12 content-box" style="height: 160px">
                  <div>
                    <h4>
                      <span class="title color-white"
                        >Blockchain Technologies</span
                      >
                    </h4>
                    <p>
                      This cutting-edge technology platform enables enterprises
                      in creation of a verifiable ledger over a distributed
                      network.
                    </p>
                    <p>&nbsp;</p>
                  </div>
                </div>

                <div class="bottom-share">
                  <a href="/home/services/blockchain.html" target="_blank"
                    >KNOW MORE</a
                  >

                  <span class="dash"></span>
                  <div class="sharing-icon">
                    <div class="articlecomp">
                      <!--<div class="articlecomp">-->
                      <!-- ShareThis Start -->

                      <div class="shareContainer">
                        <div class="sharethis">
                          <img
                            src="../../../assets/img/share-icon.png"
                            alt="Share on Social Sites"
                          />
                        </div>
                        <div class="sharelist">
                          <ul>
                            <li>
                              <a
                                class="fa fa-facebook"
                                href="javascript:void(0)"
                              ></a>
                            </li>
                            <li>
                              <a
                                class="fa fa-twitter"
                                href="javascript:void(0)"
                                title="Share on Twitter"
                              ></a>
                            </li>
                            <li>
                              <a
                                class="fa fa-linkedin"
                                href="javascript:void(0)"
                                title="Share on LinkedIn"
                              ></a>
                            </li>
                            <li>
                              <span>
                                <a
                                  class="fa fa-email"
                                  href="javascript:void(0)"
                                ></a>
                              </span>
                            </li>
                            <script type="text/javascript">
                              var switchTo5x = true;
                            </script>

                            <script type="text/javascript">
                              stLight.options({
                                123: "129",
                                shorten: false,
                              });
                            </script>
                          </ul>
                        </div>
                      </div>

                      <!-- ShareThis End -->

                      <a
                        href="javascript:void(0)"
                        target="_blank"
                        class="artcomp"
                      >
                        <div
                          class="articleimg"
                          style="background-image: url('')"
                        ></div>

                        <div class="articledesc" style="background-color: red">
                          <div class="content">
                            <!--<div class="artcnt"></div>-->
                            <p></p>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="image-with-rte">
              <div class="hotspot-card white-bg">
                <div
                  class="col-lg-12 bg data-picture-rendition"
                  style="
                    background-image: url('../../../assets/img/cognitive-desktop.jpg');
                  "
                >
                  <div data-picture-rendition="">
                    <!--Logic for using different desktop, tablet and mobile renditions uploaded by author in DAM-->

                    <div
                      data-src="../../../assets/img/cognitive-desktop.jpg"
                      data-media="(min-width: 320px)"
                    ></div>

                    <div
                      data-src="../../../assets/img/cognitive-desktop.jpg"
                      data-media="(min-width: 640px)"
                    ></div>
                    <div
                      data-src="../../../assets/img/cognitive-desktop.jpg"
                      data-media="(min-width: 1024px)"
                    ></div>

                    <!--Logic for using renditions-->
                  </div>
                </div>
                <div class="col-lg-12 content-box" style="height: 160px">
                  <div>
                    <h4>
                      <span class="title color-white">Autocode.AI</span>
                    </h4>
                    <p>
                      A deep learning framework to automate code creation and
                      code fix.<br />
                    </p>
                  </div>
                </div>

                <div class="bottom-share">
                  <a
                    href="/home/innovation/nextlabs/autocode-ai.html"
                    target="_blank"
                    >KNOW MORE</a
                  >

                  <span class="dash"></span>
                  <div class="sharing-icon">
                    <div class="articlecomp">
                      <!--<div class="articlecomp">-->
                      <!-- ShareThis Start -->

                      <div class="shareContainer">
                        <div class="sharethis">
                          <img
                            src="../../../assets/img/share-icon.png"
                            alt="Share on Social Sites"
                          />
                        </div>
                        <div class="sharelist">
                          <ul>
                            <li>
                              <a
                                class="fa fa-facebook"
                                href="javascript:void(0)"
                              ></a>
                            </li>
                            <li>
                              <a
                                class="fa fa-twitter"
                                href="javascript:void(0)"
                                title="Share on Twitter"
                              ></a>
                            </li>
                            <li>
                              <a
                                class="fa fa-linkedin"
                                href="javascript:void(0)"
                                title="Share on LinkedIn"
                              ></a>
                            </li>
                            <li>
                              <span>
                                <a
                                  class="fa fa-email"
                                  href="javascript:void(0)"
                                ></a>
                              </span>
                            </li>
                            <script type="text/javascript">
                              var switchTo5x = true;
                            </script>
                            <script type="text/javascript">
                              stLight.options({
                                123: "129",
                                shorten: false,
                              });
                            </script>
                          </ul>
                        </div>
                      </div>

                      <!-- ShareThis End -->

                      <a
                        href="javascript:void(0)"
                        target="_blank"
                        class="artcomp"
                      >
                        <div
                          class="articleimg"
                          style="background-image: url('')"
                        ></div>

                        <div class="articledesc" style="background-color: red">
                          <div class="content">
                            <!--<div class="artcnt"></div>-->
                            <p></p>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
