.fun-fact-section {
  position: relative;
  padding-top: 140px;
}
.auto-container {
  position: static;
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}
.sec-title {
  position: relative;
  margin-bottom: 60px;
}
.sec-title .title {
  font-size: 14px;
  color: #403ab4;
  font-weight: 500;
  margin-bottom: 20px;
  letter-spacing: 2px;
  display: inline-block;
}
.sec-title h1 {
  position: relative;
  display: block;
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  color: #3b3b3b;
}
.sec-title .shape-icon {
  position: absolute;
  right: 60%;
  top: 29px;
  height: 14px;
  width: 10px;
  background-image: url("../../../assets/img/shape-9.png");
  background-repeat: no-repeat;
}
.sec-title .text {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }
}
@media screen and (min-width: 768px) {
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
}
.fun-fact-section .counter-wrapper {
  position: relative;
  text-align: center;
}
img {
  height: auto;
}
img {
  max-width: 100%;
}

.animated {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@media screen and (min-width: 999px) {
  .kc-row-container.kc-container .kc-wrap-columns,
  .kc_row_inner {
    width: calc(100% + 30px);
  }
}

.about-section .shape-5 {
  bottom: -105px;
  right: -198px;
  z-index: 5;
}
.about-section .outer-box {
  position: relative;
  padding-top: 85px;
}
/* .about-section .outer-box:before {
  position: absolute;
  content: "";
  background: #403ab4;
  left: 325px;
  top: 0;
  bottom: 33px;
  width: 2000%;
} */
.about-section .image {
  padding-right: 47px;
}
.about-section .link {
  margin-right: -23px;
}
.about-section .link .btn-style-two {
  border-radius: 0px;
  padding: 22px 35px;
  -webkit-box-shadow: -4px 8px 21.25px 3.75px rgb(167 238 227 / 65%);
  box-shadow: -4px 8px 21.25px 3.75px rgb(167 238 227 / 65%);
}
.about-section .link .theme-btn {
  vertical-align: middle;
}
@media only screen and (max-width: 1499px) {
  .about-block-one {
    margin-right: 0px;
  }
}
.about-block-one {
  margin-left: 25px;
  margin-right: -160px;
}
.sec-title {
  position: relative;
  margin-bottom: 60px;
}
.about-block-one .text p {
  color: #fff;
}
p {
  line-height: 28px;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    visibility: hidden;
    /*-webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);*/
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
  }

  to {
    opacity: 1;
    visibility: visible;
    -webkit-transform: none;
    transform: none;
  }
}

.kc-container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 999px) {
  .kc-row-container.kc-container .kc-wrap-columns,
  .kc_row_inner {
    width: calc(100% + 30px);
  }
}
.kc-row-container.kc-container .kc-wrap-columns,
.kc_row_inner {
  margin-left: -15px;
  margin-right: -15px;
  clear: both;
}
.kc_column > .kc-col-container,
.kc_column_inner > .kc-col-inner-container {
  height: 100%;
}
.about-section {
  position: relative;
}
.about-section .shape-5 {
  bottom: -105px;
  right: -198px;
  z-index: 5;
}
.anim-icons .icon {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
}
.shape-5 {
  height: 400px;
  width: 400px;
  background-image: url("../../../assets/img/shape-5.png");
}
.auto-container {
  position: static;
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}
.about-section .outer-box {
  position: relative;
  padding-top: 85px;
}
/* .about-section .outer-box:before {
  position: absolute;
  content: "";
  background: #403ab4;
  left: 325px;
  top: 0;
  bottom: 33px;
  width: 10%;
} */
.about-section .image {
  padding-right: 47px;
}
.about-section .link {
  margin-right: -23px;
}
.about-section .link {
  margin-right: -23px;
}
@media (min-width: 1200px) {
  .text-xl-right {
    text-align: right !important;
  }
}
.about-section .link .btn-style-two {
  border-radius: 0px;
  padding: 22px 35px;
  -webkit-box-shadow: -4px 8px 21.25px 3.75px rgb(167 238 227 / 65%);
  box-shadow: -4px 8px 21.25px 3.75px rgb(167 238 227 / 65%);
}
.about-section .link .theme-btn {
  vertical-align: middle;
}
.btn-style-eleven {
  position: relative;
  color: #222;
  font-size: 25px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  box-shadow: -3px 12px 21.25px 3.75px rgb(233 233 233 / 37%);
  background: #fff;
}
.theme-btn {
  display: inline-block;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.flaticon-signs-1:before {
  content: "\f126";
}
@media only screen and (max-width: 1499px) {
  .about-block-one {
    margin-right: 0px;
  }
}
.about-block-one {
  margin-left: 25px;
  margin-right: -160px;
}
.sec-title {
  position: relative;
  margin-bottom: 60px;
}
.sec-title.light .title {
  color: #0daf96;
}
.sec-title .title {
  font-size: 14px;
  color: #403ab4;
  font-weight: 500;
  margin-bottom: 20px;
  letter-spacing: 2px;
  display: inline-block;
}
.sec-title.light h1 {
  color: #fff;
  line-height: 42px;
}
.sec-title .shape-icon {
  position: absolute;
  right: 60%;
  top: 29px;
  height: 14px;
  width: 10px;
  background-image: url("../../../assets/img/shape-9.png");
  background-repeat: no-repeat;
}
.text.light {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }
}
@media screen and (min-width: 768px) {
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
}
.animated {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.text,
p {
  font-size: 15px;
  color: white;
  margin-bottom: 20px;
  line-height: 28px;
}
.about-block-one .text p {
  color: #fff;
}
.btn-style-two:hover {
  color: #ffffff;
  background-color: #403ab4;
  box-shadow: 0px 11px 21.25px 3.75px rgb(194 191 255 / 65%);
}
.btn-style-two {
  font-weight: 500;
  font-size: 19px;
  text-decoration: none;
  background-color: #0eaf96;
  color: white;
}
.btn-style-eleven:hover {
  background-color: black;
  color: white;
}
.about-section .outer-box:before {
  position: absolute;
  content: "";
  background: #403ab4;
  left: 325px;
  top: 0;
  bottom: 33px;
  width: 75%;
  z-index: -1;
}
.banner-section-three .shape-18,
.sec-title .shape-icon,
.subscribe-section-two .icon-buildings,
.subscribe-section .icon-buildings,
.video-section .icon-buildings {
  animation-name: float_left_right;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: float_left_right;
  -webkit-animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: float_left_right;
  -moz-animation-duration: 30s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: float_left_right;
  -ms-animation-duration: 30s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-animation-name: float_left_right;
  -o-animation-duration: 30s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
}
