<footer class="footer_two main-footer">
  <div class="auto-container">
    <div class="widgets-section">
      <div class="row">
        <div
          id="text-3"
          class="mrfooter col-lg-4 col-sm-12 col-xs-12 footer-column footer-widget widget_text"
        >
          <div class="textwidget">
            <div class="footer-column">
              <div class="footer-widget about-widget">
                <div class="footer-logo">
                  <img
                    loading="lazy"
                    class="alignnone size-medium wp-image-2116"
                    src="../../../assets/img/logo1.jpg"
                    alt=""
                    width="300"
                    height="73"
                  />
                </div>
                <div class="text">
                  Goolrant Software Pvt Ltd is a firm devoted to digitalize your
                  business and business needs. Transforming your business from
                  offline to digital set your foot in this highly competitive
                  world.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          id="text-5"
          style="top: 94px"
          class="mrfooter col-lg-4 col-sm-12 col-xs-12 footer-column footer-widget widget_text"
        >
          <div class="textwidget">
            <div class="footer-widget links-widget">
              <h4 class="widget-title">Our Services</h4>
              <div class="widget-content">
                <ul class="list clearfix">
                  <li>
                    <a
                      [routerLink]="[
                        '/itservices',
                        'software-development-support'
                      ]"
                      >Software development and support</a
                    >
                  </li>
                  <li>
                    <a [routerLink]="['/itservices', 'web-development']"
                      >Web Development</a
                    >
                  </li>
                  <li>
                    <a [routerLink]="['/itservices', 'mobile-app-development']"
                      >Mobile App Development</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div
          id=""
          style="top: 94px"
          class="mrfooter col-lg-4 col-sm-12 col-xs-12 footer-column footer-widget widget_text"
        >
          <div class="textwidget">
            <div class="footer-widget contact-widget">
              <h4 class="widget-title">Contact Support</h4>
              <ul class="widget-content">
                <li>Phone: +91 9812334567</li>
                <li>Email: info@goolrant.com</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
