<div class="wrap main-header fixed-header1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="bg-wrap">
          <div class="row">
            <div class="col-md-6 d-flex align-items-center">
              <p class="mb-0 phone pl-md-2">
                <a href="#" class="mr-2"
                  ><span class="fa fa-phone mr-1"></span> +2793562811
                </a>
                <a href="#"
                  ><span class="fa fa-paper-plane mr-1"></span>
                  info@goolrant.com
                </a>
              </p>
            </div>
            <div class="col-md-6 d-flex justify-content-md-end">
              <div class="social-media">
                <p class="mb-0 d-flex">
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="fa fa-facebook"
                      ><i class="sr-only">Facebook</i></span
                    ></a
                  >
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="fa fa-twitter"
                      ><i class="sr-only">Twitter</i></span
                    ></a
                  >
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="fa fa-instagram"
                      ><i class="sr-only">Instagram</i></span
                    ></a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Navbar Section -->
<nav
  class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light navbar-fixed-top main-header fixed-header"
  id="ftco-navbar"
>
  <div class="container">
    <a class="navbar-brand" routerLink="/home"
      ><img
        src="../../../assets/img/logo1.jpg"
        style="width: 100px; height: 60px; border-radius: 25px"
      />
    </a>
    <!-- <form action="#" class="searchform order-sm-start order-lg-last">
      <div class="form-group d-flex">
        <input type="text" class="form-control pl-3" placeholder="Search" />
        <button type="submit" placeholder="" class="form-control search">
          <span class="fa fa-search"></span>
        </button>
      </div>
    </form> -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#ftco-nav"
      aria-controls="ftco-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="fa fa-bars"></span> Menu
    </button>
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav m-auto">
        <li class="nav-item active">
          <a
            routerLink="home"
            routerLinkActive="linkactive"
            [routerLinkActiveOptions]="{ exact: true }"
            class="nav-link"
            >Home</a
          >
        </li>
        <!-- <li class="nav-item">
          <a href="about.html" class="nav-link">Industries</a>
        </li> -->
        <li class="nav-item dropdown">
          <button class="dropbtn nav-link">
            Services
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a [routerLink]="['/itservices', 'software-development-support']"
              >Software Development & Support</a
            >
            <a [routerLink]="['/itservices', 'mobile-app-development']"
              >Mobile App Development</a
            >
            <a [routerLink]="['/itservices', 'web-development']"
              >Web Development</a
            >
          </div>
        </li>
        <li class="nav-item dropdown has-megamenu">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            data-bs-toggle="dropdown"
          >
            About
          </a>
          <div
            class="dropdown-menu dropdown-content"
            role="menu"
            style="
              width: 29rem;
              min-width: 35rem;
              left: 55%;
              background-color: #413c69;
            "
          >
            <div class="row g-3">
              <!-- end col-3 -->
              <div class="col-lg-6 col-6" style="padding: 0">
                <div class="col-megamenu">
                  <!-- <h6 class="title">Title Menu Two</h6> -->
                  <ul class="list-unstyled dropdown-menu-right">
                    <li>
                      <a routerLink="about" routerLinkActive="linkactive"
                        >About Goolrant</a
                      >
                    </li>
                    <li><a href="#">Client Briefing Program</a></li>
                    <li class="goolrantmenu">
                      <a href="#">Goolrant Events &raquo;</a>
                      <ul class="submenu submenu-left dropdown-menu">
                        <li>
                          <a class="dropdown-item" href="">Annual Meeting</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="">Product Launch</a>
                        </li>
                      </ul>
                    </li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Leadership Team</a></li>
                  </ul>
                </div>
                <!-- col-megamenu.// -->
              </div>
              <div class="col-lg-6 col-6" style="padding: 0">
                <div class="col-megamenu">
                  <!-- <h6 class="title">Title Menu Four</h6> -->
                  <ul class="list-unstyled">
                    <li><a href="#">News and Press Releases</a></li>
                    <li><a href="#">Public Polilcy</a></li>
                    <li><a href="#">Partnerships</a></li>
                    <li><a href="#">Sponsorships</a></li>
                  </ul>
                </div>
                <!-- col-megamenu.// -->
              </div>
              <!-- end col-3 -->
            </div>
            <!-- end row -->
          </div>
          <!-- dropdown-mega-menu.// -->
        </li>
        <!--<li class="nav-item">
           <a routerLink="about" routerLinkActive="linkactive" class="nav-link"
            ></a
          >
        </li> 
        </li>-->

        <li class="nav-item">
          <a routerLink="contact" routerLinkActive="linkactive" class="nav-link"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
