<!-- Inner Content -->
<div class="kc_clfw"></div>
<section
  data-kc-fullwidth="content"
  class="kc-elm kc-css-108635 kc_row"
  style="left: 0px; padding-left: 0px; width: 1270px"
>
  <div class="kc-row-container">
    <div class="kc-wrap-columns">
      <div class="kc-elm kc-css-780002 kc_col-sm-12 kc_column kc_col-sm-12">
        <div class="kc-col-container">
          <!-- banner-section -->
          <section
            class="sm-banner-section-two style-four"
            style="
              background-image: url('../../../assets/img/bg-2.jpeg');
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center center;
            "
          >
            <div class="anim-icon">
              <div class="icon icon-1 float-bob-x"></div>
              <div class="icon icon-2"></div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                  <div class="content-box">
                    <h1>We Help the World Grow Digitally.</h1>
                    <div class="text">
                      Goolrant Technologies Pvt Ltd is a firm devoted to
                      digitalize your business and business needs.Transforming
                      your business from offline to digital set your foot in
                      this highly competitive world.
                    </div>
                    <div class="btn-box">
                      <a href="#">
                        <i class="fab sl-user-follow"></i>
                        <span>Connect</span>
                        with Us
                      </a>
                    </div>
                  </div>
                </div>

                <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                  <div class="image-box float-bob-y">
                    <figure class="image clearfix">
                      <img
                        src="../../../assets/img/content-image.png"
                        alt="Image"
                      />
                    </figure>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- banner-section end -->
        </div>
      </div>
    </div>
  </div>
</section>

<app-itservices></app-itservices>

<!-- Contact Section -->
<app-contactus></app-contactus>
