<section
  data-kc-fullwidth="row"
  class="kc-elm kc-css-940523 kc_row"
  style="left: 0px; padding-left: 0px; width: 1263.33px"
>
  <div class="kc-row-container kc-container">
    <div class="kc-wrap-columns">
      <div class="kc-elm kc-css-19867 kc_col-sm-12 kc_column kc_col-sm-12">
        <div class="kc-col-container">
          <section class="contact-page-section">
            <div class="auto-container">
              <div class="row clearfix">
                <div class="info-column col-lg-4 col-md-12 col-sm-12">
                  <div
                    class="inner-column wow fadeInLeft animated"
                    data-wow-delay="0ms"
                    style="
                      visibility: visible;
                      animation-delay: 0ms;
                      animation-name: fadeInLeft;
                    "
                  >
                    <div class="title-box">
                      <h3>Contact Details</h3>
                      <div class="title-text">
                        Get in touch with us for any questions about our
                        projects.
                      </div>
                    </div>
                    <ul class="contact-info-list">
                      <li>
                        <span class="icon flaticon-home">
                          <i class="fa fa-home" aria-hidden="true"></i
                        ></span>
                        <strong>Head Office</strong>5420 Big Creek Way, Elk
                        Grove, CA
                      </li>

                      <li>
                        <span class="icon flaticon-open-envelope-with-letter"
                          ><i class="fa fa-envelope" aria-hidden="true"></i
                        ></span>
                        <strong>Email us</strong>info@goolrant.com
                      </li>

                      <li>
                        <span class="icon flaticon-phone-call">
                          <i class="fa fa-phone" aria-hidden="true"></i>
                        </span>

                        <strong>Call Support</strong>+2793562811
                      </li>
                    </ul>

                    <ul class="social-links">
                      <li>
                        <a href="https://www.facebook.com/thoughtpearlsoftware/"
                          ><span class="fab sl-social-facebook">
                            <i
                              class="fa fa-facebook-official"
                              aria-hidden="true"
                            ></i> </span
                        ></a>
                      </li>

                      <li>
                        <a
                          href="https://www.linkedin.com/company/thoughtpearl-software-private-limited/"
                          ><span class="fab fab-linkedin-in">
                            <i
                              class="fa fa-linkedin"
                              aria-hidden="true"
                            ></i> </span
                        ></a>
                      </li>

                      <li>
                        <a
                          href="https://www.instagram.com/thoughtpearl_software/"
                          ><span class="fab fab-instagram">
                            <i
                              class="fa fa-instagram"
                              aria-hidden="true"
                            ></i> </span
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="form-column col-lg-8 col-md-12 col-sm-12">
                  <div
                    class="inner-column wow fadeInRight animated"
                    data-wow-delay="0ms"
                    style="
                      visibility: visible;
                      animation-delay: 0ms;
                      animation-name: fadeInRight;
                    "
                  >
                    <div class="sec-title mb-30">
                      <h1>Send a Message</h1>
                    </div>

                    <div class="contact-form">
                      <div
                        role="form"
                        class="wpcf7"
                        id="wpcf7-f315-p2047-o1"
                        lang="en-US"
                        dir="ltr"
                      >
                        <div class="screen-reader-response">
                          <p
                            role="status"
                            aria-live="polite"
                            aria-atomic="true"
                          ></p>
                          <ul></ul>
                        </div>
                        <form
                          action="/?utm_source=stories&amp;utm_medium=Instagram%2FFB#wpcf7-f315-p2047-o1"
                          method="post"
                          class="wpcf7-form init"
                          novalidate="novalidate"
                          data-status="init"
                        >
                          <div style="display: none">
                            <input type="hidden" name="_wpcf7" value="315" />
                            <input
                              type="hidden"
                              name="_wpcf7_version"
                              value="5.4.2"
                            />
                            <input
                              type="hidden"
                              name="_wpcf7_locale"
                              value="en_US"
                            />
                            <input
                              type="hidden"
                              name="_wpcf7_unit_tag"
                              value="wpcf7-f315-p2047-o1"
                            />
                            <input
                              type="hidden"
                              name="_wpcf7_container_post"
                              value="2047"
                            />
                            <input
                              type="hidden"
                              name="_wpcf7_posted_data_hash"
                              value=""
                            />
                            <input
                              type="hidden"
                              name="_wpcf7_recaptcha_response"
                              value="03AGdBq24Vi92j1G7pdL99CakeOadvKZyxwhXf2rDCtuMjrTDzv-f38y1HnBqEpvye5yYI4u2tskEkzrIFpb95IBT9PL7AKNL98yrXc6HyP3u3GptSW4T3pOBuWByIyhUlRebfli13BJA1CGzpXoXzMMYhecuNWCgviZJSo1tqUbLeNy09paFyZ4uwlj3nrwUBo6Xaz6DoI7ebiZJgry1lMEtFnrePhje3pteTkSHdf4DGkQp3NiPRoK2-MImS7ryt-cQups5ErLv3V4yeYiJMP_q7LuVoVaUBfZxU7FgeMUiIPtJr6X43Wan0NHuDd4FP8QgQ7u3cQCzHoiQL5OFCnXo3nhHRA-YyrVESkDJQ5TctOExgBJyxtPOd_gfortCiUrXayE6mqAeIQ6yPdH-3dRkW6pW98490nUvtRQf6IvlDet1NSoXpYIAB-YrBNfXj3AxTiTWiRhy-d6hqocAboQxxAFps5CgwRE8aWxubijnV47IKbJQ-6V4XpX_zB4-6Y0mw6k9i0JJDmBCj9qaEFas8dBbsTczKvw"
                            />
                          </div>
                          <div class="">
                            <div id="contact-form">
                              <div class="row clearfix">
                                <div
                                  class="col-lg-6 col-md-6 col-sm-12 form-group"
                                >
                                  <span
                                    class="wpcf7-form-control-wrap your-firstname"
                                    ><input
                                      type="text"
                                      name="your-firstname"
                                      value=""
                                      size="40"
                                      class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                      aria-required="true"
                                      aria-invalid="false"
                                      placeholder="First name"
                                  /></span>
                                </div>
                                <div
                                  class="col-lg-6 col-md-6 col-sm-12 form-group"
                                >
                                  <span
                                    class="wpcf7-form-control-wrap your-lastname"
                                    ><input
                                      type="text"
                                      name="your-lastname"
                                      value=""
                                      size="40"
                                      class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                      aria-required="true"
                                      aria-invalid="false"
                                      placeholder="Last name"
                                  /></span>
                                </div>
                                <div
                                  class="col-lg-6 col-md-6 col-sm-12 form-group"
                                >
                                  <span
                                    class="wpcf7-form-control-wrap your-email"
                                    ><input
                                      type="email"
                                      name="your-email"
                                      value=""
                                      size="40"
                                      class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                      aria-required="true"
                                      aria-invalid="false"
                                      placeholder="Email"
                                  /></span>
                                </div>
                                <div
                                  class="col-lg-6 col-md-6 col-sm-12 form-group"
                                >
                                  <span
                                    class="wpcf7-form-control-wrap your-Phone"
                                    ><input
                                      type="text"
                                      name="your-Phone"
                                      value=""
                                      size="40"
                                      class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                      aria-required="true"
                                      aria-invalid="false"
                                      placeholder="Phone"
                                  /></span>
                                </div>
                                <div
                                  class="col-lg-6 col-md-6 col-sm-12 form-group"
                                >
                                  <span
                                    class="wpcf7-form-control-wrap your-subject"
                                    ><input
                                      type="text"
                                      name="your-subject"
                                      value=""
                                      size="40"
                                      class="wpcf7-form-control wpcf7-text"
                                      aria-invalid="false"
                                      placeholder="Subject"
                                  /></span>
                                </div>
                                <div
                                  class="col-lg-12 col-md-12 col-sm-12 form-group"
                                >
                                  <span
                                    class="wpcf7-form-control-wrap your-message"
                                  >
                                    <textarea
                                      name="your-message"
                                      cols="40"
                                      rows="10"
                                      class="wpcf7-form-control wpcf7-textarea"
                                      aria-invalid="false"
                                      placeholder="Message"
                                    ></textarea>
                                  </span>
                                </div>
                                <div
                                  class="col-lg-12 col-md-12 col-sm-12 form-group"
                                >
                                  <button
                                    class="theme-btn btn-style-four"
                                    type="submit"
                                    name="submit-form"
                                  >
                                    Send Message
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>
