<app-loader *ngIf="isLoading"></app-loader>
<section
  data-kc-fullwidth="row"
  class="kc-elm kc-css-940523 kc_row"
  style="left: 0px; padding-left: 0px"
>
  <div class="">
    <div class="kc-wrap-columns">
      <div class="kc-elm kc-css-19867 kc_col-sm-12 kc_column kc_col-sm-12">
        <div class="kc-col-container">
          <section class="contact-page-section">
            <div class="auto-container">
              <div class="row clearfix">
                <div class="info-column col-lg-4 col-md-12 col-sm-12">
                  <div
                    class="inner-column wow fadeInLeft animated"
                    data-wow-delay="0ms"
                    style="
                      visibility: visible;
                      animation-delay: 0ms;
                      animation-name: fadeInLeft;
                    "
                  >
                    <div class="title-box">
                      <h3>Contact Details</h3>
                      <div class="title-text">
                        Get in touch with us for any questions about our
                        projects.
                      </div>
                    </div>
                    <ul class="contact-info-list">
                      <li>
                        <span class="icon flaticon-home">
                          <i class="fa fa-home" aria-hidden="true"></i
                        ></span>
                        <strong>Head Office</strong>5420 Big Creek Way, Elk
                        Grove, CA
                      </li>

                      <li>
                        <span class="icon flaticon-open-envelope-with-letter"
                          ><i class="fa fa-envelope" aria-hidden="true"></i
                        ></span>
                        <strong>Email us</strong>info@goolrant.com
                      </li>

                      <li>
                        <span class="icon flaticon-phone-call">
                          <i class="fa fa-phone" aria-hidden="true"></i>
                        </span>

                        <strong>Call Support</strong>+2793562811
                      </li>
                    </ul>

                    <ul class="social-links">
                      <li>
                        <a href="https://www.facebook.com/thoughtpearlsoftware/"
                          ><span class="fab sl-social-facebook">
                            <i
                              class="fa fa-facebook-official"
                              aria-hidden="true"
                            ></i> </span
                        ></a>
                      </li>

                      <li>
                        <a
                          href="https://www.linkedin.com/company/thoughtpearl-software-private-limited/"
                          ><span class="fab fab-linkedin-in">
                            <i
                              class="fa fa-linkedin"
                              aria-hidden="true"
                            ></i> </span
                        ></a>
                      </li>

                      <li>
                        <a
                          href="https://www.instagram.com/thoughtpearl_software/"
                          ><span class="fab fab-instagram">
                            <i
                              class="fa fa-instagram"
                              aria-hidden="true"
                            ></i> </span
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="form-column col-lg-8 col-md-12 col-sm-12">
                  <div
                    class="inner-column wow fadeInRight animated"
                    data-wow-delay="0ms"
                    style="
                      visibility: visible;
                      animation-delay: 0ms;
                      animation-name: fadeInRight;
                    "
                  >
                    <div class="sec-title mb-30">
                      <h1>Send a Message</h1>
                    </div>

                    <div class="contact-form">
                      <div
                        role="form"
                        class="wpcf7"
                        id="wpcf7-f315-p2047-o1"
                        lang="en-US"
                        dir="ltr"
                      >
                        <div class="screen-reader-response">
                          <p
                            role="status"
                            aria-live="polite"
                            aria-atomic="true"
                          ></p>
                          <ul></ul>
                        </div>
                        <form
                          [formGroup]="userForm"
                          (ngSubmit)="register()"
                          class="wpcf7-form init"
                          data-status="init"
                        >
                          <div class="">
                            <div id="contact-form">
                              <div class="row clearfix">
                                <div
                                  class="col-lg-6 col-md-6 col-sm-12 form-group"
                                >
                                  <span
                                    class="wpcf7-form-control-wrap your-firstname"
                                    ><input
                                      type="text"
                                      formControlName="firstName"
                                      name="your-firstname"
                                      value=""
                                      size="40"
                                      class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                      [ngClass]="{
                                        'border-red-800':
                                          message && message['firstName']
                                      }"
                                      aria-required="true"
                                      aria-invalid="false"
                                      placeholder="First name"
                                  /></span>
                                  <span
                                    class="text-sm text-red-800"
                                    *ngIf="message && message['firstName']"
                                  >
                                    {{ message["firstName"] }}
                                  </span>
                                </div>
                                <div
                                  class="col-lg-6 col-md-6 col-sm-12 form-group"
                                >
                                  <span
                                    class="wpcf7-form-control-wrap your-lastname"
                                    ><input
                                      type="text"
                                      formControlName="lastName"
                                      name="your-lastname"
                                      value=""
                                      size="40"
                                      class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                      aria-required="true"
                                      aria-invalid="false"
                                      placeholder="Last name"
                                      [ngClass]="{
                                        'border-red-800':
                                          message && message['lastName']
                                      }"
                                  /></span>
                                  <span
                                    class="text-sm text-red-800"
                                    *ngIf="message && message['lastName']"
                                  >
                                    {{ message["lastName"] }}
                                  </span>
                                </div>
                                <div
                                  class="col-lg-6 col-md-6 col-sm-12 form-group"
                                >
                                  <span
                                    class="wpcf7-form-control-wrap your-email"
                                    ><input
                                      type="email"
                                      formControlName="email"
                                      name="your-email"
                                      value=""
                                      size="40"
                                      class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                      aria-required="true"
                                      aria-invalid="false"
                                      placeholder="Email"
                                      [ngClass]="{
                                        'border-red-800':
                                          message && message['email']
                                      }"
                                  /></span>
                                  <span
                                    class="text-sm text-red-800"
                                    *ngIf="message && message['email']"
                                  >
                                    {{ message["email"] }}
                                  </span>
                                </div>
                                <div
                                  class="col-lg-6 col-md-6 col-sm-12 form-group"
                                >
                                  <span
                                    class="wpcf7-form-control-wrap your-Phone"
                                    ><input
                                      type="text"
                                      formControlName="phone"
                                      name="your-Phone"
                                      value=""
                                      size="40"
                                      class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                      aria-required="true"
                                      aria-invalid="false"
                                      placeholder="Phone"
                                      [ngClass]="{
                                        'border-red-800':
                                          message && message['phone']
                                      }"
                                  /></span>
                                  <span
                                    class="text-sm text-red-800"
                                    *ngIf="message && message['email']"
                                  >
                                    {{ message["phone"] }}
                                  </span>
                                </div>
                                <div
                                  class="col-lg-6 col-md-6 col-sm-12 form-group"
                                >
                                  <span
                                    class="wpcf7-form-control-wrap your-subject"
                                    ><input
                                      type="text"
                                      formControlName="subject"
                                      name="your-subject"
                                      value=""
                                      size="40"
                                      class="wpcf7-form-control wpcf7-text"
                                      aria-invalid="false"
                                      placeholder="Subject"
                                      [ngClass]="{
                                        'border-red-800':
                                          message && message['subject']
                                      }"
                                  /></span>
                                  <span
                                    class="text-sm text-red-800"
                                    *ngIf="message && message['subject']"
                                  >
                                    {{ message["subject"] }}
                                  </span>
                                </div>
                                <div
                                  class="col-lg-12 col-md-12 col-sm-12 form-group"
                                >
                                  <span
                                    class="wpcf7-form-control-wrap your-message"
                                  >
                                    <textarea
                                      name="your-message"
                                      formControlName="descmessage"
                                      cols="40"
                                      rows="10"
                                      class="wpcf7-form-control wpcf7-textarea"
                                      aria-invalid="false"
                                      placeholder="Message"
                                      [ngClass]="{
                                        'border-red-800':
                                          message && message['descmessage']
                                      }"
                                    ></textarea>
                                  </span>
                                </div>
                                <div
                                  class="col-lg-12 col-md-12 col-sm-12 form-group"
                                >
                                  <button
                                    class="theme-btn btn-style-four"
                                    [ngClass]="{
                                      'opacity-50': !userForm.valid
                                    }"
                                    type="submit"
                                    name="submit-form"
                                    [disabled]="!userForm.valid"
                                  >
                                    Send Message
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>
