<!-- Service section -->
<section
  data-kc-fullwidth="content"
  class="kc-elm kc-css-307842 kc_row"
  style="left: 0px; padding-left: 0px; width: 1263px"
>
  <div class="kc-row-container">
    <div class="kc-wrap-columns">
      <div class="kc-elm kc-css-927151 kc_col-sm-12 kc_column kc_col-sm-12">
        <div class="kc-col-container">
          <section class="sm-service-style-three gray-bg">
            <div class="container">
              <div class="sec-title">
                <h4>OUR SERVICES</h4>
                <h1>The Best Business Solutions<br />Guide for You</h1>
              </div>
              <div
                class="three-column-carousel owl-carousel owl-theme owl-nav-none owl-loaded owl-drag"
              >
                <div class="owl-stage-outer">
                  <div
                    class="owl-stage"
                    style="
                      transform: translate3d(-1170px, 0px, 0px);
                      transition: all 3s ease 0s;
                      width: 3510px;
                    "
                  >
                    <div
                      class="owl-item cloned"
                      style="width: 360px; margin-right: 30px"
                    >
                      <div
                        class="service-block-three"
                        style="padding-right: 50px"
                      >
                        <div class="inner-box">
                          <div class="icon-box">
                            <i class="fa fa-line-chart" aria-hidden="true"></i>
                          </div>
                          <h4>
                            <a [routerLink]="['/itservices', 'web-development']"
                              >Web Development</a
                            >
                          </h4>
                          <div class="text">
                            In the world of the web, a website act as a salesman
                            to your business, and no one would want a
                            salesperson who can’t attract clients.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="owl-item cloned"
                      style="width: 360px; margin-right: 30px"
                    >
                      <div
                        class="service-block-three"
                        style="padding-right: 50px"
                      >
                        <div class="inner-box">
                          <div class="icon-box">
                            <i class="fa fa-mobile" aria-hidden="true"></i>
                          </div>
                          <h4>
                            <a
                              [routerLink]="[
                                '/itservices',
                                'mobile-app-development'
                              ]"
                              >Mobile App Development</a
                            >
                          </h4>
                          <div class="text">
                            Who doesn’t carry mobile today? Getting the business
                            done from the 5.5-inch screen has a great impact on
                            business even for those who play in millions.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="owl-item cloned"
                      style="width: 360px; margin-right: 30px"
                    >
                      <div
                        class="service-block-three"
                        style="padding-right: 50px"
                      >
                        <div class="inner-box">
                          <div class="icon-box">
                            <i class="fa fa-laptop" aria-hidden="true"></i>
                          </div>
                          <h4>
                            <a
                              [routerLink]="[
                                '/itservices',
                                'software-development-support'
                              ]"
                              >Software Development And Support</a
                            >
                          </h4>
                          <div class="text">
                            Your business needs a tool to comply with your
                            business needs. Delivering solutions to achieve the
                            goals with the help of the latest technology is
                            where our strength lies.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="owl-item active"
                      style="width: 360px; margin-right: 30px"
                    >
                      <div
                        class="service-block-three"
                        style="padding-right: 50px"
                      >
                        <div class="inner-box">
                          <div class="icon-box">
                            <i class="fa fa-line-chart" aria-hidden="true"></i>
                          </div>
                          <h4>
                            <a [routerLink]="['/itservices', 'web-development']"
                              >Web Development</a
                            >
                          </h4>
                          <div class="text">
                            In the world of the web, a website act as a salesman
                            to your business, and no one would want a
                            salesperson who can’t attract clients.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="owl-item active"
                      style="width: 360px; margin-right: 30px"
                    >
                      <div
                        class="service-block-three"
                        style="padding-right: 50px"
                      >
                        <div class="inner-box">
                          <div class="icon-box">
                            <i class="fa fa-mobile" aria-hidden="true"></i>
                          </div>
                          <h4>
                            <a
                              [routerLink]="[
                                '/itservices',
                                'mobile-app-development'
                              ]"
                              >Mobile App Development</a
                            >
                          </h4>
                          <div class="text">
                            Who doesn’t carry mobile today? Getting the business
                            done from the 5.5-inch screen has a great impact on
                            business even for those who play in millions.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="owl-item active"
                      style="width: 360px; margin-right: 30px"
                    >
                      <div
                        class="service-block-three"
                        style="padding-right: 50px"
                      >
                        <div class="inner-box">
                          <div class="icon-box">
                            <i class="fa fa-laptop" aria-hidden="true"></i>
                          </div>
                          <h4>
                            <a
                              [routerLink]="[
                                '/itservices',
                                'software-development-support'
                              ]"
                              >Software Development And Support</a
                            >
                          </h4>
                          <div class="text">
                            Your business needs a tool to comply with your
                            business needs. Delivering solutions to achieve the
                            goals with the help of the latest technology is
                            where our strength lies.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="owl-item cloned"
                      style="width: 360px; margin-right: 30px"
                    >
                      <div
                        class="service-block-three"
                        style="padding-right: 50px"
                      >
                        <div class="inner-box">
                          <div class="icon-box">
                            <i class="fa fa-line-chart" aria-hidden="true"></i>
                          </div>
                          <h4>
                            <a [routerLink]="['/itservices', 'web-development']"
                              >Web Development</a
                            >
                          </h4>
                          <div class="text">
                            In the world of the web, a website act as a salesman
                            to your business, and no one would want a
                            salesperson who can’t attract clients.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="owl-item cloned"
                      style="width: 360px; margin-right: 30px"
                    >
                      <div
                        class="service-block-three"
                        style="padding-right: 50px"
                      >
                        <div class="inner-box">
                          <div class="icon-box">
                            <i class="fa fa-mobile" aria-hidden="true"></i>
                          </div>
                          <h4>
                            <a
                              [routerLink]="[
                                '/itservices',
                                'mobile-app-development'
                              ]"
                              >Mobile App Development</a
                            >
                          </h4>
                          <div class="text">
                            Who doesn’t carry mobile today? Getting the business
                            done from the 5.5-inch screen has a great impact on
                            business even for those who play in millions.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="owl-item cloned"
                      style="width: 360px; margin-right: 30px"
                    >
                      <div
                        class="service-block-three"
                        style="padding-right: 50px"
                      >
                        <div class="inner-box">
                          <div class="icon-box">
                            <i class="fa fa-laptop" aria-hidden="true"></i>
                          </div>
                          <h4>
                            <a
                              [routerLink]="[
                                '/itservices',
                                'software-development-support'
                              ]"
                              >Software Development And Support</a
                            >
                          </h4>
                          <div class="text">
                            Your business needs a tool to comply with your
                            business needs. Delivering solutions to achieve the
                            goals with the help of the latest technology is
                            where our strength lies.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="owl-nav disabled">
                  <div class="owl-prev"><span class=""></span></div>
                  <div class="owl-next"><span class=""></span></div>
                </div>
                <div class="owl-dots disabled">
                  <div class="owl-dot active"><span></span></div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Feature Section -->
<section
  data-kc-fullwidth="content"
  class="kc-elm kc-css-261194 kc_row"
  style="left: 0px; padding-left: 0px; width: 1263px"
>
  <div class="kc-row-container">
    <div class="kc-wrap-columns">
      <div class="kc-elm kc-css-724023 kc_col-sm-12 kc_column kc_col-sm-12">
        <div class="kc-col-container">
          <section class="sm-feature-style-five">
            <div class="anim-icon">
              <div class="icon icon-1 rotate-me"></div>
              <div class="icon icon-2"></div>
              <div class="icon icon-3 float-bob-x"></div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                  <div class="content-box">
                    <div class="sec-title">
                      <h4>Features</h4>
                      <h1>
                        How are we different &amp; what sets our product apart
                      </h1>
                    </div>
                    <div class="inner-box">
                      <div class="single-item">
                        <div class="icon-box">
                          <i class="fa fa-check" aria-hidden="true"></i>
                        </div>
                        <h3>
                          <a routerLink="/about">Simplify</a>
                        </h3>
                        <div class="text">
                          Simplicity is the core of our thought process, which
                          enable us to look for solution in very fresh &amp;
                          basic way, break down the business needs in simple
                          chunk of activities, and results in very simple form
                          of solution. <br />
                          Our thought process revolves around the element of
                          Simplicity. This enables us to provide solutions which
                          is basic yet effective. Dividing the business needs
                          into smaller task to accomplish&nbsp;the desired
                          solutions is our primary methodology.
                        </div>
                      </div>

                      <div class="single-item">
                        <div class="icon-box">
                          <i class="fa fa-users" aria-hidden="true"></i>
                        </div>
                        <h3>
                          <a routerLink="/about">Innovate</a>
                        </h3>
                        <div class="text">
                          Our highly competitive team &amp; their hunger to
                          thrive the technology helps us to provide innovative
                          solution with latest technology &amp; trends. Which
                          helps our customer to be keep on leading in their
                          business domain. <br />Our team is formed of people
                          who are highly competitive and skilled with latest
                          technology, who is always thriving for the innovation
                          because our experience allows us to make it happen.
                          This innovation manifests a legit solution which
                          giving a boost to our customers business and making
                          them a leader in the marketplace.
                        </div>
                      </div>

                      <div class="single-item">
                        <div class="icon-box">
                          <i class="fa fa-bar-chart" aria-hidden="true"></i>
                        </div>
                        <h3>
                          <a routerLink="/about">Make it scalable</a>
                        </h3>
                        <div class="text">
                          Simplicity thinking for solution &amp; innovate that
                          with updated technology, our next approach is to
                          solution is that it should be design that way it will
                          be scalable as per business needs. While making
                          scalable solution we always try to make solution which
                          secures growth of our clients in future. You will
                          achieve the desired scalability in the digital world
                          with out constant and consistent support. <br />When
                          simplicity and innovation join hand, scaling up the
                          business is inevitable. As our solutions provides the
                          base for scaling up business and when the business
                          grow exponentially it secures the place on top for our
                          customers.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                  <div class="image-box">
                    <figure class="image clearfix">
                      <img
                        src="https://thoughtpearl.com/wp-content/uploads/2021/01/Screen-3-1-1.png"
                        alt="Image"
                      />
                    </figure>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>
