<section
  data-kc-fullwidth="content"
  class="kc-elm kc-css-15387 kc_row"
  style="left: 0px; padding-left: 0px; width: 1263px"
>
  <div class="kc-row-container">
    <div class="kc-wrap-columns">
      <div class="kc-elm kc-css-181311 kc_col-sm-12 kc_column kc_col-sm-12">
        <div class="kc-col-container">
          <section class="features-section-seven curve-border-bottom">
            <div class="auto-container">
              <div
                class="sec-title text-center"
                *ngIf="subServices === 'software-development-support'"
              >
                <span class="title">OUR SERVICES</span>
                <h1>Software Development And Support</h1>
                <div
                  class="text wow fadeInUp animated"
                  style="visibility: visible; animation-name: fadeInUp"
                >
                  Simplify → Innovate → Make it Scalable
                </div>
              </div>
              <div
                class="sec-title text-center"
                *ngIf="subServices === 'mobile-app-development'"
              >
                <span class="title">OUR SERVICES</span>
                <h1>Mobile App Development</h1>
                <div
                  class="text wow fadeInUp animated"
                  style="visibility: visible; animation-name: fadeInUp"
                >
                  Who doesn't carry mobile today? Getting the business done from
                  the 5.5-inch screen has a great impact on business even for
                  those who play in millions.
                </div>
              </div>
              <div
                class="sec-title text-center"
                *ngIf="subServices === 'web-development'"
              >
                <span class="title">POWERFUL &amp; FLEXIBLE</span>
                <h1>Must Have Features</h1>
                <div
                  class="text wow fadeInUp animated"
                  style="visibility: visible; animation-name: fadeInUp"
                >
                  Minim veniam quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea consequat irure dolor in <br />
                  reprehenderit in voluptate velit esse cillum dolore fugiat
                  nulla pariatur excepteur
                </div>
              </div>
              <div class="row">
                <!-- Feature Block Seven -->

                <div
                  class="feature-block-seven col-lg-4 wow fadeInUp animated"
                  data-wow-delay=".2s"
                  style="
                    visibility: visible;
                    animation-delay: 0.2s;
                    animation-name: fadeInUp;
                  "
                >
                  <div class="inner-box text-center">
                    <div
                      class="icon-box paroller"
                      data-paroller-factor="-0.15"
                      data-paroller-factor-lg="-0.15"
                      data-paroller-factor-md="-0.15"
                      data-paroller-factor-sm="-0.15"
                      data-paroller-type="foreground"
                      data-paroller-direction="horizontal"
                      style="
                        transform: unset;
                        transition: transform 0s linear 0s;
                        will-change: transform;
                      "
                    >
                      <img
                        src="https://thoughtpearl.com/wp-content/uploads/2020/02/icon-1.jpg"
                        alt="Image"
                      />
                    </div>
                    <ng-container
                      *ngIf="
                        subServices !== 'web-development';
                        else webtemplate3
                      "
                    >
                      <h4>Simplify</h4>
                      <div class="text">
                        Our thought process revolves around the element of
                        Simplicity. This enables us to provide solutions which
                        is basic yet effective.
                      </div>
                    </ng-container>
                    <ng-template #webtemplate3>
                      <h4>Static Website</h4>
                      <div class="text">
                        Get your website of 5-6 pages at affordable prices. We
                        design and develop an efficient & integrated static
                        website for Valuable client.
                      </div>
                    </ng-template>
                  </div>
                </div>
                <!-- Feature Block Seven -->
                <div
                  class="feature-block-seven col-lg-4 wow fadeInUp animated"
                  data-wow-delay=".4s"
                  style="
                    visibility: visible;
                    animation-delay: 0.4s;
                    animation-name: fadeInUp;
                  "
                >
                  <div class="inner-box text-center">
                    <div class="icon-box">
                      <img
                        src="https://thoughtpearl.com/wp-content/uploads/2020/02/icon-2.jpg"
                        alt="Image"
                      />
                    </div>
                    <ng-container
                      *ngIf="
                        subServices !== 'web-development';
                        else webtemplate2
                      "
                    >
                      <h4>Innovate</h4>
                      <div class="text">
                        Our highly competitive team &amp; their hunger to thrive
                        the technology helps us to provide innovative solution
                        with latest technology &amp; trends.
                      </div>
                    </ng-container>
                    <ng-template #webtemplate2>
                      <h4>Dynamic Website</h4>
                      <div class="text">
                        Get dynamic website at affordable prices where you can
                        edit your website anytime.
                      </div>
                    </ng-template>
                  </div>
                </div>
                <!-- Feature Block Seven -->
                <div
                  class="feature-block-seven col-lg-4 wow fadeInUp animated"
                  data-wow-delay=".6s"
                  style="
                    visibility: visible;
                    animation-delay: 0.6s;
                    animation-name: fadeInUp;
                  "
                >
                  <div class="inner-box text-center">
                    <div
                      class="icon-box paroller"
                      data-paroller-factor="0.15"
                      data-paroller-factor-lg="0.15"
                      data-paroller-factor-md="0.15"
                      data-paroller-factor-sm="0.15"
                      data-paroller-type="foreground"
                      data-paroller-direction="horizontal"
                      style="
                        transform: unset;
                        transition: transform 0s linear 0s;
                        will-change: transform;
                      "
                    >
                      <img
                        src="https://thoughtpearl.com/wp-content/uploads/2020/02/icon-3-1.jpg"
                        alt="Image"
                      />
                    </div>
                    <ng-container
                      *ngIf="
                        subServices !== 'web-development';
                        else webtemplate1
                      "
                    >
                      <h4>Make it scalable</h4>
                      <div class="text">
                        While making scalable solution we always try to make
                        solution which secures growth of our clients in future.
                      </div>
                    </ng-container>
                    <ng-template #webtemplate1>
                      <h4>E-Commerce</h4>
                      <div class="text">
                        We design and develop an efficient & integrated
                        ecommerce website for Valuable client. user friendly
                        backend to manage your entire online ecommerce store.
                      </div>
                    </ng-template>
                  </div>
                </div>
                <!-- End Block -->
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="kc-elm kc-css-757106 kc_row">
  <div class="kc-row-container kc-container">
    <div class="kc-wrap-columns">
      <div class="kc-elm kc-css-231764 kc_col-sm-12 kc_column kc_col-sm-12">
        <div class="kc-col-container">
          <section class="features-section-eight">
            <div class="auto-container">
              <div class="row">
                <div class="content-column col-lg-6">
                  <div class="feature-block-eight">
                    <div class="icon-box">
                      <span class="icon-stroke-gap icon-FileBox"></span>
                    </div>
                    <div class="sec-title mb-30">
                      <span class="title mb-10">THE CORES &amp; VALUES</span>
                      <h1
                        *ngIf="subServices === 'software-development-support'"
                      >
                        Software Development <br />
                        And Support
                      </h1>
                      <h1 *ngIf="subServices === 'mobile-app-development'">
                        Mobile Application Development <br />
                        And Design
                      </h1>
                      <h1 *ngIf="subServices === 'web-development'">
                        Our Web Development <br />
                        Services
                      </h1>
                    </div>
                    <h3 class="fadeInUp">
                      Analyze your Requirements and Process
                    </h3>
                    <div
                      class="text wow fadeInUp mb-60 animated"
                      style="visibility: visible; animation-name: fadeInUp"
                      *ngIf="subServices === 'software-development-support'"
                    >
                      Your business needs a tool to comply with your business
                      needs. Delivering solutions to achieve the goals with the
                      help of the latest technology is where our strength lies.
                      Get more power through our software development services
                      for the growth in your business.
                    </div>
                    <div
                      class="text wow fadeInUp mb-60 animated"
                      style="visibility: visible; animation-name: fadeInUp"
                      *ngIf="subServices === 'mobile-app-development'"
                    >
                      Who doesn't carry mobile today? Getting the business done
                      from the 5.5-inch screen has a great impact on business
                      even for those who play in millions. There is not a single
                      business area that is isolated from it. With the
                      development of iOS and Android using the latest
                      technologies make the development a seamless task. Get the
                      application that suits your business and reach the
                      prospects that are holding the device in their hand.
                      keeping the touch with the customer is a tedious job and a
                      mobile platform is what you need to take care of your
                      business on the go.<br /><br />
                      Here at ThoughtPearl we provide solution for all kind of
                      mobility services with latest technologies &amp; trends
                      which includes Native application, hybrid apps (Develop
                      one place distribute everywhere), IOT Services and many
                      more.
                    </div>
                    <div
                      class="text wow fadeInUp mb-60 animated"
                      style="visibility: visible; animation-name: fadeInUp"
                      *ngIf="subServices === 'web-development'"
                    >
                      In the world of the web, a website act as a salesman to
                      your business, and no one would want a salesperson who
                      can't attract clients. With our team's effort in making
                      the website, the human touch is inseparable for the
                      website using the latest technologies. Get an interactive
                      design that can do the work of your salesperson to the
                      visitors keeping them engaged with the right response.
                    </div>
                    <div
                      class="btn-box wow fadeInUp animated"
                      data-wow-delay=".4s"
                      style="
                        visibility: visible;
                        animation-delay: 0.4s;
                        animation-name: fadeInUp;
                      "
                    >
                      <a
                        routerLink="/about"
                        class="theme-btn btn-style-five nav-link"
                        >Know Us More</a
                      >
                    </div>
                  </div>
                </div>
                <div class="image-column col-lg-6">
                  <div class="inner-column">
                    <div class="image-box text-lg-right">
                      <figure
                        class="image wow fadeInRight animated"
                        data-wow-delay=".6s"
                        style="
                          visibility: visible;
                          animation-delay: 0.6s;
                          animation-name: fadeInRight;
                        "
                      >
                        <img
                          src="https://thoughtpearl.com/wp-content/uploads/2020/02/illustration-8.png"
                          alt="Image"
                        />
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  data-kc-fullwidth="content"
  class="kc-elm kc-css-710653 kc_row"
  style="
    left: 0px;
    padding-left: 0px;
    width: 1263px;
    background: url('../../../../assets/img/bg-call-to-action-2.png');
  "
>
  <div class="kc-row-container">
    <div class="kc-wrap-columns">
      <div class="kc-elm kc-css-116926 kc_col-sm-12 kc_column kc_col-sm-12">
        <div class="kc-col-container">
          <section class="call-to-action-one">
            <!-- <div class="anim-icons">
              <span class="icon shape-5"></span>
            </div> -->

            <!-- <div class="image-layer"></div> -->
            <div class="auto-container">
              <div class="anim-icons">
                <span class="icon shape-8"></span>
              </div>
              <div class="text-center">
                <div
                  class="title-column wow fadeInUp animated"
                  style="visibility: visible; animation-name: fadeInUp"
                >
                  <h1>Contact us for any Queries</h1>
                  <div class="text light">
                    Feel to contact Us<br />
                    Our Goolrant team will be happy to serve you
                  </div>
                </div>
                <div
                  class="link-column wow fadeInUp animated"
                  data-wow-delay=".5s"
                  style="
                    visibility: visible;
                    animation-delay: 0.5s;
                    animation-name: fadeInUp;
                  "
                >
                  <div class="link-btn">
                    <a
                      routerLink="/contact"
                      class="theme-btn btn-style-five nav-link"
                      >Contact Us</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>
